@model ProductDetailsModelView


@{
    ViewBag.Title = Model.product.ProductName;
}

<section class="product-section">
    <div class="product-path">
        <a href="/home">Home</a>
        <i class="material-icons">keyboard_arrow_right</i>
        <a href="#">Products</a>
        <i class="material-icons">keyboard_arrow_right</i>
        @{
            int productListCount = 0;
            foreach (var category in @Model.product.Categories)
            {
                if (productListCount == 0)
                {
                    <a asp-controller="home" asp-action="Categories" asp-route-category="@category.CategoryName">@category.CategoryName</a>
                    productListCount++;
                }
                else
                {
                    <p>,&ensp;</p><a asp-controller="home" asp-action="Categories" asp-route-category="@category.CategoryName">@category.CategoryName</a>
                }

            }
        }
        <i class="material-icons">keyboard_arrow_right</i>
        <p>@Model.product.ProductName</p>
    </div>

    <div class="product-section-details">
        <img src="@Model.product.CoverImage" asp-append-version="true" class="product-section-coverimg" alt="Product Image" />
        <div class="product-section-info">
            <h3>@Model.product.ProductName</h3>
            <div class="rating">
                @{
                    int count = 0;
                    for (int i = 0; i < Model.product.ProductRate; i++)
                    {
                        <i class='fas fa-star'></i>
                        count = count + 1;
                    }
                    for (int j = count; j < 5; j++)
                    {
                        <i class='far fa-star'></i>
                    }
                }
            </div>
            <div class="product-price product-section-info-price">$@Model.product.ProductPrice</div>
            <p style="color: #666666">@Model.product.ProductDesc</p>
            <div class="product-section-info-quantity">
                <i class='fas fa-minus' id="sub-icon"></i>
                <span id="number">0</span>
                <i class='fas fa-plus' id="plus-icon"></i>
            </div>
            <a href="#" class="product-section-info-cart">
                Add To Cart
                <i class='fas fa-shopping-cart '></i>
            </a>
        </div>
    </div>
</section>


@*<div class="related-product products-container">
    <h2>Related Product</h2>
    <h4>Recently added our shop</h4>
    <div class="row">
        @{
            foreach (var Product in Model.relatedProdcut)
            {
                <div class="product-container">
                    <a asp-controller="home" asp-action="ProductDetails" asp-route-pid="@Product.Pid" asp-route-category="@Product.Categories"><img src="@Product.CoverImage" alt="Alternate Text" asp-append-version="true" /></a>
                    <button>Add To Cart</button>
                    <div class="product-details">
                        <div class="product-category"><a href="#">@Product.Categories</a></div>
                        <div class="product-name"><a href="#">@Product.ProductName</a></div>
                        <div class="product-price">$@Product.ProductPrice</div>
                        <div class="rating">
                            @{
                                count = 0;
                                for (int i = 0; i < @Product.ProductRate; i++)
                                {
                                    <i class='fas fa-star'></i>
                                    count = count + 1;
                                }
                                for (int j = count; j < 5; j++)
                                {
                                    <i class='far fa-star'></i>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>*@

@section Scripts{
    <script src="~/js/IncDec.js"></script>
}
