@model ProductDetailsModelView


@{
    ViewBag.Title = Model.product.ProductName + " | Shoppy ";
}

<section class="product-section">
    <div class="product-path">
        <a href="/home">Home</a>
        <i class="material-icons">keyboard_arrow_right</i>
        <a href="#">Products</a>
        <i class="material-icons">keyboard_arrow_right</i>
        @{
            int productListCount = 0;
            foreach (var category in @Model.product.Categories)
            {
                if (productListCount == 0)
                {
                    <a asp-controller="home" asp-action="Categories" asp-route-category="@category">@category</a>
                    productListCount++;
                }
                else
                {
                    <p>,&ensp;</p><a asp-controller="home" asp-action="Categories" asp-route-category="@category">@category</a>
                }

            }
        }
        <i class="material-icons">keyboard_arrow_right</i>
        <p>@Model.product.ProductName</p>
    </div>

    <div class="product-section-details">
        <img src="@Model.product.CoverImage" asp-append-version="true" class="product-section-coverimg" alt="Product Image" />
        <div class="product-section-info">
            <h3>@Model.product.ProductName</h3>
            <div class="rating">
                @{
                    int count = 0;
                    for (int k = 0; k < Model.product.ProductRate; k++)
                    {
                        <i class='fas fa-star'></i>
                        count = count + 1;
                    }
                    for (int j = count; j < 5; j++)
                    {
                        <i class='far fa-star'></i>
                    }
                }
            </div>
            <div class="product-price product-section-info-price">$@Model.product.ProductPrice</div>
            <p style="color: #666666">@Model.product.ProductDesc</p>
            <div class="product-section_Specification_radio_button">
                <label class="product_label">
                    Color:
                </label>
                @{
                    foreach (var color in Model.Colors)
                    {
                        <label class="radioBtn">
                            <input type="radio" name="radio" value="@color.colorId" class="radio_btn" onclick="getSizes(@color.colorId)" />
                            <span class="checkmark" style="background-color: @color.colorCode"></span>
                        </label>
                    }
                }
                <input type="text" id="colorField" asp-for="Color" class="hiddinField" value="0" />
            </div>

            <div class="product-section_Specification_size">
                <label class="product_label">Size:</label>
                <select asp-for="Size" id="sizeSelect" onchange="getQuantity()">

                    @{
                        if (Model.Sizes != null)
                        {
                            foreach (var size in Model.Sizes)
                            {
                                <option value="@size.sizeId">@size.size</option>
                            }
                        }
                    }
                </select>

            </div>

            <input type="text" name="quantityAvailble" id="quantityAvailble" class="hiddinField" />
            <input type="text" name="productId" value="@Model.product.Pid" id="productId" class="hiddinField" />

            <div class="product-section_Specification_quantity">
                <label class="product_label">Quantity: </label>
                <input type="text" asp-for="Quantity" id="quantity_product" class="hiddinField" value="1" />
                <div class="product-section-info-quantity">
                    <i class='fas fa-minus' id="sub-icon"></i>
                    <span id="number">0</span>
                    <i class='fas fa-plus' id="plus-icon"></i>
                </div>
            </div>

            <div class="addToCart_validation_select">You have to choise color & size first</div>
            <div class="addToCart_validation_quantity">We don't have enough quantity</div>

            <button class="product-section-info-cart" onclick="addToCart()">
                <div id="addToCart_btn">
                    Add To Cart
                    <i class='fas fa-shopping-cart'></i>
                </div>
                <div class="spinner-border" role="status" style="display: none" id="loader">
                    <span class="sr-only">Loading...</span>
                </div>
            </button>
        </div>
    </div>
</section>


@section Scripts{
    <script src="~/js/IncDec.js"></script>
}
