@model ViewCartModelView


@{ 
    ViewBag.title = "Cart | Shoopy";
}


<div class="viewCart_section" id="viewCart">
    @{
        if (Model.ShoppingCartItem.Count == 0)
        {
        <div class="viewCart_section_empty">
            <svg width="10em" height="10em" viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
            </svg>
            <h3>The Cart is Empty</h3>
            <a  asp-controller="home" asp-action="Categories" asp-route-category="All">Go Back and Shop</a>
        </div>
        }
        else
        {
            <h1>Cart</h1>

            <table class="viewCart_section_table">
                <tr>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
                        </svg>
                    </th>
                </tr>
                @{ 
                    float totalPrice = 0;
                    foreach (var shopItem in Model.ShoppingCartItem)
                    {
                        float total = @shopItem.quantity*@shopItem.productPrice;
                        totalPrice = totalPrice + total;
                        <tr>
                            <td><img src="@shopItem.productImg" alt="Alternate Text" asp-append-version="true" class="viewCart_section_table_img"/></td>
                            <td>@shopItem.productName</td>
                            <td>@shopItem.productPrice</td>
                            <td>@shopItem.quantity</td>
                            <td>@total</td>
                            <td>
                                <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg" onclick="deleteItem(@shopItem.pid, @shopItem.uid, this)">
                                    <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </td>
                        </tr>
                    }
                }
            </table>

            <div class="viewCart_section_total">
                <h3>CART TOTALS</h3>
                <table class="viewCart_section_total_table">
                    <tr>
                        <th>Total:</th>
                        <th><span>@totalPrice $</span></th>
                    </tr>
                </table>
                <a href="#">Proceed To Checkout</a>
            </div>
        }
    }
</div>

@section scripts{ 
<script>
    function deleteItem(pid, uid, del) {
        $.ajax({
            type: "GET",
            url: "/shoppingCart/DeleteItem",
            data: { "pid": pid, "uid": uid},
            success: function (response) {
                if (response.result == "Success") {
                    alert("ok");
                } else if (response.result == "Faild") {
                    alert("Not");
                }
            },
            failure: function (response) {
                alert(response);
            },
            error: function (response) {
                alert(response);
            }
        });
    }
</script>
}